body {
  font-family: 'Open Sans', sans-serif;
}
a, a:hover {
  text-decoration: none;
  color: #fff;
}
h2 {
  font-size: 3rem;
  font-family: 'Goudy Bookletter 1911', serif;
}
header {
  background-color: #1d1d1d;
  color: #fff;
}
header p {
  font-size: 13px;
  color: #b3b3b3;
  margin: auto;
  display: flex;
  line-height: 1.6;
}
.photo-gallery .photos {
  padding-bottom:20px;
}
.photo-gallery .item {
  padding-bottom:30px;
}
footer {
  background: #1d1d1d;
  color: #b3b3b3;
  font-size: 12px;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 0.5rem;
}