body {
  font-family: 'Noto Sans', sans-serif;
}
.card {
  padding: 0.6rem;
  border: none;
  border-radius: none;
}
.pantone {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 0;
}
.pantone-color {
  margin: 0;
  font-size: 1.3rem;
}
.pantone span {
  vertical-align: super;
  font-size: 0.7rem;
}
header {
  color: #000;
}
h1 {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
}